


















<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Sistema Integrado de Gest&#227;o de Atividades Acad&#234;micas</title>
	<link class="component" href="/sigaa/a4j/s/3_3_3.Finalorg/richfaces/renderkit/html/css/basic_classes.xcss/DATB/eAF7sqpgb-jyGdIAFrMEaw__.jsf" rel="stylesheet" type="text/css" /><link class="component" href="/sigaa/a4j/s/3_3_3.Finalorg/richfaces/renderkit/html/css/extended_classes.xcss/DATB/eAF7sqpgb-jyGdIAFrMEaw__.jsf" media="rich-extended-skinning" rel="stylesheet" type="text/css" /><script type="text/javascript">window.RICH_FACES_EXTENDED_SKINNING_ON=true;</script><script src="/sigaa/a4j/g/3_3_3.Finalorg/richfaces/renderkit/html/scripts/skinning.js.jsf" type="text/javascript"></script><script type="text/javascript" src="/shared/javascript/sigaa.js"> </script>
</head>

<link href="/shared/css/ufrn_relatorio.css" rel="stylesheet" type="text/css"/>
<link href="/shared/css/ufrn.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" media="print" href="/shared/css/ufrn_print.css"/>
<body>

<div id="relatorio-paisagem-container">

		<div id="relatorio-cabecalho">
			<div id="ufrn"><img src="/shared/img/instituicao/ufrn.gif"/><br/><a href='/sigaa/verPortalDiscente.do'>Portal do Discente</a> </div>
			<div id="sinfo"><img src="/shared/img/instituicao/sinfo.gif"/>  </div>
			<div id="texto">
				Instituto Federal Catarinense<br>
				Sistema Integrado de Gest&#227;o de Atividades Acad&#234;micas<br>

				
				<br />
				<span class="dataAtual"> Emitido em 06/11/2019 01:04 </span>
			</div>
			<div class="clear"> </div>
		</div>
		<div id="relatorio">

		<br/>





<style>
	.titulo {background: #E8E8E8; text-align: center; font-size: 20px; font-weight: bold; margin-bottom: 25px;}

	.listagem tr th {font-size: 10px !important; text-align: center;}
	.listagem tr .nota {font-size: 11px !important; text-align: center;}
	.listagem tr .disciplina {font-size: 11px !important; text-align: left;}
	
    .red {color: red;}	
	
	.bold {font-weight: bold;}
	.normal {font-weight: normal;}
	
	.text-right {text-align: right;}
	.text-left {text-align: left;}
	.text-center {text-align: center;}
	
</style>


<div class="titulo" style="background: #FFF;">Boletim Escolar - 2019</div>
<div style="width: 900px">
<table class="listagem">
	<tr>
		<td colspan="4" class="titulo">Dados do Aluno</td>
	</tr>
	<tr>
		<td class="bold" style="width: 15%">Aluno(a):</td>
		<td  >ANDREI RUAN STEFFENS</td>
		<td class="bold text-right"  >Matr&#237;cula:</td>
		<td>2018314258</td>
	</tr>
	<tr>
		<td class="bold">Turma de Entrada:</td>
		<td>T&#201;CNICO EM INFORM&#193;TICA PARA INTERNET INTEGRADO  AO ENSINO M&#201;DIO - A (2018)</td>
		<td class="bold" align="right">
			
				Ano - S&#233;rie: 
			
			
		</td>
		<td> 2019 - Ano 2 </td>
	</tr>
	
		<tr>
			<td class="bold">Situa&#231;&#227;o:</td>
			<td colspan="3">MATRICULADO</td>
		</tr>
	
	
	<tr>
		<td colspan="4" class="titulo">Dados dos Componentes Curriculares</td>
	</tr>	
</table>

<table class="listagem" border="1" style="width: 100%">
	<tr>
		<th >COMPONENTE CURRICULAR</th>	
		
		

			<th>
				Trimestre 1
			</th>

		

			<th>
				Trimestre 1 - Reavalia&ccedil;&atilde;o
			</th>

		

			<th>
				Trimestre 2
			</th>

		

			<th>
				Trimestre 2 - Reavalia&ccedil;&atilde;o
			</th>

		

			<th>
				Trimestre 3
			</th>

		

			<th>
				Trimestre 3 - Reavalia&ccedil;&atilde;o
			</th>

		

			<th>
				Trimestre 1 - M&eacute;dia Parcial
			</th>

		

			<th>
				Trimestre 2 - M&eacute;dia Parcial
			</th>

		

			<th>
				Trimestre 3 - M&eacute;dia Parcial
			</th>

		

			<th>
				Media Parcial Final
			</th>

		

			<th>
				Nota Necess&aacute;ria Exame
			</th>

		

			<th>
				Exame Final
			</th>

		

			<th>
				M&eacute;dia Final
			</th>

		
						
		<th>Faltas</th>
		
		<th>Situa&#231;&#227;o</th>
	</tr>
		
	
		<tr>
			<td class="disciplina">
				INA0431-2 - L&#205;NGUA PORTUGUESA E LITERATURA BRASILEIRA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 6.3 </td>
			
 				<td class="nota" style="width: 7%"> 6.0 </td>
			
 				<td class="nota" style="width: 7%"> 6.8 </td>
			
 				<td class="nota" style="width: 7%"> 7.3 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 6.3 </td>
			
 				<td class="nota" style="width: 7%"> 7.3 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 4.5 </td>
			
 				<td class="nota" style="width: 7%"> 5.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 2.7 </td>
			

			

			<td class="nota" style="width: 5%">
				8
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0432-2 - EDUCA&#199;&#195;O F&#205;SICA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 8.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.7 </td>
			
 				<td class="nota" style="width: 7%"> 8.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.8 </td>
			
 				<td class="nota" style="width: 7%"> 3.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.5 </td>
			

			

			<td class="nota" style="width: 5%">
				7
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0433-2 - L&#205;NGUA ESTRANGEIRA (INGL&#202;S)
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 4.5 </td>
			
 				<td class="nota" style="width: 7%"> 5.0 </td>
			
 				<td class="nota" style="width: 7%"> 7.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.0 </td>
			
 				<td class="nota" style="width: 7%"> 7.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 4.2 </td>
			
 				<td class="nota" style="width: 7%"> 6.2 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 2.5 </td>
			

			

			<td class="nota" style="width: 5%">
				2
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0434-2 - MATEM&#193;TICA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 7.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 7.3 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.1 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 7.7 </td>
			
 				<td class="nota" style="width: 7%"> 7.3 </td>
			
 				<td class="nota" style="width: 7%"> 3.1 </td>
			
 				<td class="nota" style="width: 7%"> 6.0 </td>
			
 				<td class="nota" style="width: 7%"> 3.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.6 </td>
			

			

			<td class="nota" style="width: 5%">
				4
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0435-2 - QU&#205;MICA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 5.3 </td>
			
 				<td class="nota" style="width: 7%"> 3.6 </td>
			
 				<td class="nota" style="width: 7%"> 5.2 </td>
			
 				<td class="nota" style="width: 7%"> 5.7 </td>
			
 				<td class="nota" style="width: 7%"> 3.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.3 </td>
			
 				<td class="nota" style="width: 7%"> 5.7 </td>
			
 				<td class="nota" style="width: 7%"> 3.7 </td>
			
 				<td class="nota" style="width: 7%"> 4.9 </td>
			
 				<td class="nota" style="width: 7%"> 5.1 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 2.9 </td>
			

			

			<td class="nota" style="width: 5%">
				0
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0436-2 - F&#205;SICA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 6.1 </td>
			
 				<td class="nota" style="width: 7%"> 2.5 </td>
			
 				<td class="nota" style="width: 7%"> 8.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 6.1 </td>
			
 				<td class="nota" style="width: 7%"> 8.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 4.9 </td>
			
 				<td class="nota" style="width: 7%"> 5.1 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 2.9 </td>
			

			

			<td class="nota" style="width: 5%">
				0
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0437-2 - BIOLOGIA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 5.5 </td>
			
 				<td class="nota" style="width: 7%"> 4.3 </td>
			
 				<td class="nota" style="width: 7%"> 5.2 </td>
			
 				<td class="nota" style="width: 7%"> 1.5 </td>
			
 				<td class="nota" style="width: 7%"> 5.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.5 </td>
			
 				<td class="nota" style="width: 7%"> 5.2 </td>
			
 				<td class="nota" style="width: 7%"> 5.5 </td>
			
 				<td class="nota" style="width: 7%"> 5.4 </td>
			
 				<td class="nota" style="width: 7%"> 4.4 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.2 </td>
			

			

			<td class="nota" style="width: 5%">
				7
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0438-2 - HIST&#211;RIA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 6.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 6.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 6.8 </td>
			
 				<td class="nota" style="width: 7%"> 6.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 4.4 </td>
			
 				<td class="nota" style="width: 7%"> 5.9 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 2.6 </td>
			

			

			<td class="nota" style="width: 5%">
				2
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0439-2 - GEOGRAFIA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 8.9 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.9 </td>
			
 				<td class="nota" style="width: 7%"> 8.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.9 </td>
			
 				<td class="nota" style="width: 7%"> 3.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.5 </td>
			

			

			<td class="nota" style="width: 5%">
				6
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0440-2 - FILOSOFIA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 8.6 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 7.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.6 </td>
			
 				<td class="nota" style="width: 7%"> 7.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.5 </td>
			
 				<td class="nota" style="width: 7%"> 4.3 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.3 </td>
			

			

			<td class="nota" style="width: 5%">
				2
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0441-2 - SOCIOLOGIA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 9.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 4.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 9.0 </td>
			
 				<td class="nota" style="width: 7%"> 8.8 </td>
			
 				<td class="nota" style="width: 7%"> 4.5 </td>
			
 				<td class="nota" style="width: 7%"> 7.4 </td>
			
 				<td class="nota" style="width: 7%"> 0.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 7.4 </td>
			

			

			<td class="nota" style="width: 5%">
				0
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0442-2 - EMPREENDEDORISMO
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 8.2 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 7.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.2 </td>
			
 				<td class="nota" style="width: 7%"> 7.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.2 </td>
			
 				<td class="nota" style="width: 7%"> 4.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.1 </td>
			

			

			<td class="nota" style="width: 5%">
				6
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0479-2 - PESQUISA CIENT&#205;FICA
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 7.8 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.4 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 7.8 </td>
			
 				<td class="nota" style="width: 7%"> 8.4 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.4 </td>
			
 				<td class="nota" style="width: 7%"> 4.4 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.2 </td>
			

			

			<td class="nota" style="width: 5%">
				1
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0444-2 - PROGRAMA&#199;&#195;O II
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 7.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.7 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 0.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 7.5 </td>
			
 				<td class="nota" style="width: 7%"> 8.7 </td>
			
 				<td class="nota" style="width: 7%"> 0.0 </td>
			
 				<td class="nota" style="width: 7%"> 5.4 </td>
			
 				<td class="nota" style="width: 7%"> 4.4 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.2 </td>
			

			

			<td class="nota" style="width: 5%">
				0
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0445-2 - REDES DE COMPUTADORES
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 6.4 </td>
			
 				<td class="nota" style="width: 7%"> 8.0 </td>
			
 				<td class="nota" style="width: 7%"> 8.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.0 </td>
			
 				<td class="nota" style="width: 7%"> 8.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.5 </td>
			
 				<td class="nota" style="width: 7%"> 4.3 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.3 </td>
			

			

			<td class="nota" style="width: 5%">
				4
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0446-2 - DESENVOLVIMENTO PARA WEB II
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 6.2 </td>
			
 				<td class="nota" style="width: 7%"> 6.7 </td>
			
 				<td class="nota" style="width: 7%"> 8.5 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 0.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 6.7 </td>
			
 				<td class="nota" style="width: 7%"> 8.5 </td>
			
 				<td class="nota" style="width: 7%"> 0.0 </td>
			
 				<td class="nota" style="width: 7%"> 5.1 </td>
			
 				<td class="nota" style="width: 7%"> 4.9 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.1 </td>
			

			

			<td class="nota" style="width: 5%">
				13
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
	
		<tr>
			<td class="disciplina">
				INA0447-2 - DESENVOLVIMENTO DE SISTEMAS PARA DISPOSITIVOS M&#211;VEIS I
				
			</td>
 			
 				<td class="nota" style="width: 7%"> 9.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 8.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 9.0 </td>
			
 				<td class="nota" style="width: 7%"> 8.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 5.7 </td>
			
 				<td class="nota" style="width: 7%"> 4.0 </td>
			
 				<td class="nota" style="width: 7%">  </td>
			
 				<td class="nota" style="width: 7%"> 3.4 </td>
			

			

			<td class="nota" style="width: 5%">
				0
			</td>		

			<td class="nota" style="width: 5%">
				-- 
			</td>
		</tr>
		
	
	<tr>
		<td colspan="7" style="border-left-style: hidden; border-bottom-style: hidden;"></td>
		<td class="bold text-right" colspan="3" style="background: #E8E8E8;">Total de Faltas: </td>
		<td style="text-align: center; border-left-style: hidden; border-bottom-style: hidden; background: #E8E8E8;">62</td>
	</tr>
	
	
	<tr>
		<td colspan="7" style="border-left-style: hidden; border-bottom-style: hidden;"></td>
		<td class="bold text-right" colspan="3" style="border-top-style: hidden; background: #E8E8E8;">Percentual de Faltas referente ao Per&#237;odo Letivo: </td>
		<td style="text-align: center; border-left-style: hidden; background: #E8E8E8;">4.0%</td>
	</tr>
	
	
	
</table>
</div>
<br>


<div style="font-style: italic; padding-left: 100px">
	<b>**</b> As aprova&#231;&#245;es est&#227;o pendentes at&#233; a consolida&#231;&#227;o de todas as turmas do ano.
</div>


<br />
<b>*Legenda:</b><br />


				<b>T1</b> : Trimestre 1  || 

				<b>T1RE</b> : Trimestre 1 - Reavalia&#231;&#227;o  || 

				<b>T2</b> : Trimestre 2  || 

				<b>T2RE</b> : Trimestre 2 - Reavalia&#231;&#227;o  || 

				<b>T3</b> : Trimestre 3  || 

				<b>T3RE</b> : Trimestre 3 - Reavalia&#231;&#227;o  || 

				<b>T1MP</b> : Trimestre 1 - M&#233;dia Parcial  || 

				<b>T2MP</b> : Trimestre 2 - M&#233;dia Parcial  || 

				<b>T3MP</b> : Trimestre 3 - M&#233;dia Parcial  || 

				<b>MPF</b> : Media Parcial Final  || 

				<b>NNEF</b> : Nota Necess&#225;ria Exame  || 

				<b>EF</b> : Exame Final  || 

				<b>MF</b> : M&#233;dia Final  || 

<br /><br />
<b>**Situa&#231;&#227;o Componente Curricular:</b><br />
<b>REPF</b> : Reprovado por falta || <b>REP</b> : Reprovado por m&#233;dia || <b>REPN</b> : Reprovado por nota || <b>REC</b> : Em recupera&#231;&#227;o || <b>APR</b> : Aprovado por m&#233;dia
 || <b>APRN</b> : Aprovado por nota m&#237;nima || <b>REPP</b> : Reprovado em todo per&#237;odo letivo || <b>APC</b> : Aprovado por conselho de classe



</div> 
	<div class="clear"> </div>
	<br/>
	<div id="relatorio-rodape">
		<p>
			<table width="100%">
				<tr>
					<td class="voltar" align="left">
						
						 	<a href="javascript:history.back();"> Voltar </a>
						
						
					</td>
					<td width="70%"  align="center">
					SIGAA | Diretoria de Tecnologia da Informa&#231;&#227;o - (47) 3331-7800 | Copyright &copy; 2006-2019 - UFRN - jboss-sigaa-02.sig.ifc.edu.br.sigaa02
					</td>
					<td class="naoImprimir" align="right">
						<a onclick="javascript:window.print();" href="#">Imprimir</a>
					</td>
					<td class="naoImprimir" align="right">
						<a onclick="javascript:window.print();" href="#">							
							<img alt="Imprimir" title="Imprimir" src="/shared/javascript/ext-1.1/docs/resources/print.gif"/>
						</a>
					</td>
				</tr>
			</table>
		</p>

	</div>
</div>  






	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-60968808-1', 'auto');
	  ga('send', 'pageview');
	
	</script>	



<!-- MYFACES JAVASCRIPT -->

</body>
</html>
